<header class='second-header'>
  <%= image_tag("app-logo.png", class:"second-logo")%>
</header>

<%= form_with model: @cooking, local:true do |f|%>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">料理名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :cooking_name, class:"input-default", id:"cooking_name", maxlength:"15" %>
    </div>
    
    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">料理完成画像</label>
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <%= f.file_field :image, name:"cooking[image]", id:"cooking_image" %>
        <div id="new-image"></div>
      </div>
    </div>
  

    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">材料</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :material, class:"form-default", id:"cooking_material", placeholder:"使用した材料を記入（必須 1,000文字まで）", rows:"7" ,maxlength:"1000" %>
    </div>
    
    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">レシピ</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :recipe, class:"form-default", id:"cooking_recipe", placeholder:"レシピを記入（必須 1,000文字まで）", rows:"7" ,maxlength:"1000" %>
    </div>
    
    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">ポイント1</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :point1, class:"form-default", rows:"7", maxlength:"1000" %>
        <div class="form-text-wrap">
          <label class="form-text">画像</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <%= f.file_field :images, name:"cooking[image]", id:"cooking_image" %>
          <div id="new-image"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">ポイント2</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :point2, class:"form-default", rows:"7", maxlength:"1000" %>
        <div class="form-text-wrap">
          <label class="form-text">画像</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <%= f.file_field :image, name:"cooking[image]", id:"cooking_image" %>
          <div id="new-image"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">ポイント3</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :point3, class:"form-default", rows:"7", maxlength:"1000" %>
        <div class="form-text-wrap">
          <label class="form-text">画像</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <%= f.file_field :image, name:"cooking[image]", id:"cooking_image" %>
          <div id="new-image"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">ポイント4</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :point4, class:"form-default", rows:"7", maxlength:"1000" %>
        <div class="form-text-wrap">
          <label class="form-text">画像</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <%= f.file_field :image, name:"cooking[image]", id:"cooking_image"%>
          <div id="new-image"></div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">ポイント5</label>  
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :point5, class:"form-default", rows:"7", maxlength:"1000" %>
        <div class="form-text-wrap">
          <label class="form-text">画像</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <%= f.file_field :image, name:"cooking[image]", id:"cooking_image" %>
          <div id="new-image"></div>
        </div>
    </div>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">制作時間</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :production_time, class:"input-default", id:"cooking_production_time", maxlength:"15" %>
    </div>
    
    <div class='register-btn'>
      <%= f.submit "投稿" ,class:"register-green-btn" %>
    </div>
<% end %>